$text-color-2: grey;
$text-color: #F8F8F9;
$inactive: #606D7C;
$primary-dark: #2F3740;
$primary-light: #343E49;

// Body
$body-bg: #F8FAFC;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
