#add-contact {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#add-contact .header {
  width: 100%;
}
#add-contact .wrapper {
  width: 60%;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#add-contact .success {
  color: $green;
}
#add-contact .error {
  color: $red;
}

// 768px
@media screen and (max-width: 768px) {
  #add-contact h3, #add-contact p {
    color: white;
  }
}

// 425px
@media screen and (max-width: 425px) {
  #add-contact .wrapper {
    width: 80%;
  }
}
